    @import "variables";
    .accompagnement {
        article {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .entry-content {
            width: 1420px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .accompagnement1 {
                background: white;
                border-radius: $radius;
                box-shadow: $border;
                margin-bottom: 30px;
            }
        }
    }