    @import "variables";
    .single {
        .site-main {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .bloc {
                width: 1420px;
                display: flex;
                justify-content: space-between;
                margin: 0 40px 0;
                // La sidebar
                .widget-area {
                    min-width: 300px;
                    max-width: 300px;
                    h2 {
                        color: $color3;
                        font-size: 24px !important;
                    }
                    .widget {
                        background: white;
                        border-radius: $radius;
                        box-shadow: $border;
                        padding: 15px;
                        padding-top: 25px;
                        .widget-title {
                            margin-bottom: 0;
                            margin-top: 0;
                        }
                        ul {
                            list-style: none;
                            margin: 0;
                            padding-left: 0;
                            margin-top: 15px;
                            li {
                                margin-top: 10px;
                                a {
                                    color: $color1;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                    .widget_search {
                        padding: 0;
                        margin-top: 20px;
                        form {
                            border: none;
                            border-radius: $radius;
                            .is-search-icon {
                                background: white;
                                svg path {
                                    fill: $color1;
                                }
                            }
                        }
                    }
                    .widget_text {
                        padding: 15px;
                        padding-top: 25px;
                        p {
                            margin-top: 0;
                            color: $color3;
                        }
                    }
                }
                .content-article {
                    width: calc(100% - 380px);
                    display: flex;
                    flex-wrap: wrap;
                    .card-post {
                        width: 100%;
                        background: white;
                        border-radius: $radius;
                        box-shadow: $border;
                        margin-bottom: 30px;
                    }
                    .card-post-img {
                        height: auto;
                        width: 100%;
                        img {
                            height: auto;
                            max-height: 500px;
                            width: 100%;
                            border-radius: 7px 7px 0 0;
                        }
                    }
                    .card-post-content {
                        padding: 0 50px 0;
                        color: $color3;
                        .datePost {
                            font-style: italic;
                        }
                        .nav-links span {
                            color: $color1;
                        }
                    }
                    .content-article-footer {
                        padding: 0 50px 0;
                        background: white;
                        border-radius: $radius;
                        box-shadow: $border;
                        width: 100%;
                        margin-bottom: 30px;
                        h2 {
                            color: $color3;
                        }
                        a {
                            color: $color1;
                        }
                        textarea {
                            background: $color4;
                        }
                        input {
                            background: $color4;
                        }
                        .form-submit input {
                            background: $color1;
                            border: none;
                            color: white;
                            display: flex;
                            align-items: center;
                            height: 50px;
                            font-size: 18px;
                            border-radius: $border;
                            padding-bottom: 10px;
                        }
                        .comment-form-url,
                        .comment-form-email,
                        .comment-form-author {
                            label {
                                display: none;
                            }
                        }
                        #reply-title {
                            small {
                                margin-left: 15px;
                            }
                        }
                        .comment {
                            margin-bottom: 25px;
                        }
                        ol {
                            list-style: none;
                            margin-left: 0;
                            padding-left: 0;
                            #reply-title {
                                small {
                                    margin-left: 15px;
                                }
                            }
                            .comment {
                                margin-bottom: 25px;
                                border-bottom: solid 2px;
                                padding-bottom: 20px;
                                border-color: $color3;
                                .comment-meta {
                                    display: flex;
                                    flex-wrap: wrap;
                                    height: 60px;
                                    .comment-author {
                                        display: flex;
                                        margin-right: 40px;
                                        img {
                                            height: 100%;
                                            width: auto;
                                            margin-right: 20px;
                                        }
                                        span {
                                            display: none;
                                        }
                                        b {
                                            align-items: center;
                                            display: flex;
                                        }
                                    }
                                    .comment-metadata {
                                        display: flex;
                                        align-items: center;
                                        a {
                                            margin-right: 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 850px) {
            .bloc {
                flex-wrap: wrap;
                .content-article {
                    width: 100% !important;
                }
                .widget-area {
                    min-width: 100% !important;
                    max-width: 100% !important;
                }
                .comment-meta {
                    flex-wrap: wrap;
                }
                .comment-metadata {
                    margin-top: 10px;
                    position: relative;
                }
            }
        }
        @media screen and (max-width: 450px) {
            .bloc {
                margin: 0 20px 0 !important;
            }
            .card-post-content {
                padding: 0 20px 0 !important;
            }
            .content-article-footer {
                padding: 0 20px 0 !important;
            }
        }
    }