@import "variables";
.blog {
    .site-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .bloc {
            width: 1420px;
            display: flex;
            justify-content: space-between;
            // La sidebar
            .widget-area {
                min-width: 300px;
                max-width: 300px;
                h2 {
                    color: $color3;
                    font-size: 24px !important;
                }
                .widget {
                    background: white;
                    border-radius: $radius;
                    box-shadow: $border;
                    padding: 15px;
                    padding-top: 25px;
                    .widget-title {
                        margin-bottom: 0;
                        margin-top: 0;
                    }
                    ul {
                        list-style: none;
                        margin: 0;
                        padding-left: 0;
                        margin-top: 15px;
                        li {
                            margin-top: 10px;
                            a {
                                color: $color1;
                                text-decoration: none;
                            }
                        }
                    }
                }
                .widget_search {
                    padding: 0;
                    margin-top: 20px;
                    form {
                        border: none;
                        border-radius: $radius;
                        .is-search-icon {
                            background: white;
                            svg path {
                                fill: $color1;
                            }
                        }
                    }
                }
                .widget_text {
                    padding: 15px;
                    padding-top: 25px;
                    p {
                        margin-top: 0;
                        color: $color3;
                    }
                }
            }
            .articles {
                width: calc(100% - 380px);
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .card-article-large {
                    width: 100% !important;
                    display: flex;
                    .card-article-img {
                        height: 100% !important;
                        min-width: 49%;
                        img {
                            height: 100% !important;
                            border-radius: 7px 0 0 7px !important;
                        }
                    }
                    hr {
                        height: 100% !important;
                        width: 15px !important;
                    }
                }
                .card-article {
                    width: 49%;
                    box-shadow: $border;
                    border-radius: $radius;
                    background: white;
                    margin-bottom: 20px;
                    .card-article-content {
                        padding-left: 20px;
                        padding-right: 20px;
                        height: calc(100% - 200px);
                        display: flex;
                        flex-wrap: wrap;
                        a {
                            color: $color1 !important;
                            align-self: flex-end;
                            margin-bottom: 15px;
                        }
                        .aTitle {
                            display: flex;
                            align-self: flex-start;
                        }
                        h3 {
                            color: $color3;
                            margin-bottom: 0;
                            width: 100%;
                        }
                        p {
                            margin-top: 0;
                            width: 100%;
                        }
                    }
                    .card-article-img {
                        height: 200px;
                        img {
                            width: 100%;
                            height: 200px;
                            clip-path: (50%);
                            border-radius: 7px 7px 0 0;
                        }
                    }
                    hr {
                        background: $color1;
                        margin: 0;
                        height: 2px;
                    }
                }
            }
        }
    }
}