                @import "variables";
                .formation {
                    article {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                    }
                    .entry-content {
                        width: 1420px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        margin: 0 40px 0;
                        .wp-block-cover img {
                            border-radius: $radius;
                            box-shadow: $border;
                        }
                        .wp-block-cover__inner-container {
                            margin-left: 80px;
                            h2 {
                                margin-bottom: 20px;
                                font-size: 30px;
                            }
                            p {
                                width: 50%;
                                margin-bottom: 30px;
                                font-size: 18px;
                            }
                        }
                        .wp-block-columns {
                            width: 100%;
                            border-radius: $radius;
                            box-shadow: $border;
                            margin-top: 20px;
                            background: white;
                            figure {
                                margin: 0;
                                height: 100%;
                                img {
                                    width: 100%;
                                    border-radius: $radius;
                                    height: 100%;
                                }
                            }
                            .formation-colone2 {
                                margin: 0;
                                color: $color3;
                                display: flex;
                                flex-wrap: wrap;
                                h3 {
                                    width: 100%;
                                    padding-left: 8%;
                                    display: flex;
                                    align-items: center;
                                }
                                .wp-block-group {
                                    width: 200px;
                                    margin: 0;
                                }
                                .formation-grp5img {
                                    width: 100%;
                                    .wp-block-group__inner-container {
                                        display: flex;
                                        flex-wrap: wrap;
                                        .wp-block-group {
                                            margin-left: 8%;
                                        }
                                    }
                                    p {
                                        margin-top: 0;
                                    }
                                    img {
                                        width: 110px;
                                        height: auto;
                                    }
                                }
                                .wp-block-buttons {
                                    margin-left: 8%;
                                }
                            }
                        }
                    }
                    @media screen and (max-width: 1200px) {
                        .wp-block-columns {
                            img {
                                object-fit: cover;
                            }
                        }
                    }
                    @media screen and (max-width: 900px) {
                        .wp-block-columns {
                            display: block;
                            .wp-block-column {
                                width: 100% !important;
                            }
                        }
                    }
                    @media screen and (max-width: 600px) {
                        .entry-content {
                            margin: 0 20px 0;
                            .wp-block-cover__inner-container {
                                justify-content: center;
                                margin-left: 10px;
                                p {
                                    width: 90%;
                                    margin-bottom: 30px;
                                    font-size: 18px;
                                }
                            }
                            .formation-grp5img {
                                .wp-block-group {
                                    width: 100% !important;
                                    margin-left: 0 !important;
                                    .wp-block-group__inner-container {
                                        display: flex;
                                        flex-wrap: wrap;
                                        justify-content: center;
                                        padding: 0 15px 0;
                                        figure {
                                            width: 100%;
                                            display: flex;
                                            justify-content: center;
                                        }
                                        p {
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                            .wp-block-buttons {
                                width: 100%;
                                justify-content: center;
                                margin-left: 0 !important;
                            }
                        }
                    }
                }